.nav-container {
  width: 100%;
  padding: 1rem 0;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 12px 0 rgba(0, 0, 0, 0.19);
  font-family: "montserrat", serif;
}

.nav-container nav {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.nav-brand {
  display: flex;
  align-items: center;
}

.logo {
  width: 3rem;
}

.brand-name {
  font-size: large;
  font-weight: 900;
  color: #333;
  margin-left: 1rem;
  text-transform: uppercase;
  text-decoration: none;
}

.nav-links-container {
  display: flex;
  align-items: center;
  width: 25rem;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.nav-link {
  margin: 0;
  padding: 0;
  width: 7rem;
  text-align: center;
}

.nav-link a {
  display: block;
  font-size: small;
  font-weight: 500;
  color: whitesmoke;
  background-color: #596e79;
  border-radius: 5px;
  width: 100%;
  padding: 0.5rem 0;
  text-decoration: none;
}

.nav-link a:hover {
  background-color: #333;
  color: red;
}

.nav-link a.active {
  background-color: #333;
  color: red;
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  width: 30px;
  height: 24px;
  justify-content: space-between;
}

.bar {
  height: 3px;
  width: 100%;
  background-color: #596e79;
  border-radius: 10px;
  transition: all 0.3s ease;
}

.bar.open:nth-child(1) {
  transform: translateY(9px) rotate(45deg);
}

.bar.open:nth-child(2) {
  opacity: 0;
}

.bar.open:nth-child(3) {
  transform: translateY(-9px) rotate(-45deg);
}

@media (max-width: 768px) {
  .nav-container nav {
    flex-direction: row;
    align-items: flex-start;
  }

  .nav-brand {
    justify-content: center;
  }

  .nav-links-container {
    display: none;
    width: 10rem;
    justify-content: center;
    flex-direction: row;
    align-items: center;
  }

  .nav-links-container.open {
    display: flex;
    flex-direction: column;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 12px 0 rgba(0, 0, 0, 0.19);
  }

  .nav-links {
    flex-direction: column;
    width: 100%;
  }

  .nav-link {
    width: 100%;
    margin: 0;
    padding: 0;
    color: black;
    background-color: white;
  }

  .nav-link a {
    width: 100%;
    padding: 1rem 0;
    border-radius: 0;
  }

  .nav-link:hover {
    color: whitesmoke;
  }

  .nav-hamburger {
    position: absolute;
    right: 6%;
    top: 1.4rem;
  }

  .hamburger-container.open {
    box-sizing: border-box;
    padding: 5px;
  }

  .hamburger {
    display: flex;
  }

  .nav-link.active {
    background-color: white;
    color: #596e79;
  }

  .bar.open:nth-child(1),
  .bar.open:nth-child(3) {
    background-color: whitesmoke;
  }
}

@media (max-width: 480px) {
  .nav-container {
    padding: 0.5rem 0;
  }

  .logo {
    width: 2.5rem;
  }

  .brand-name {
    font-size: medium;
  }

  .nav-link {
    font-size: smaller;
    padding: 0.25rem;
    width: 100%;
  }

  .nav-link a {
    width: 100%;
  }

  .nav-links {
    flex-direction: column;
  }

  .nav-links li {
    margin: 0;
    padding: 0;
    width: 100%;
  }
}
