.App {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

.home-header {
  font-weight: 900;
  font-size: xx-large;
  text-transform: uppercase;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  margin: 5rem auto;
}

.tabs {
  width: 60%;
  display: flex;
  justify-content: space-between;
  margin: 8rem auto;
}

.tab-button {
  width: 20%;
  padding: 0.5rem 0;
  border-radius: 5px;
  background-color: #282c34;
  color: white;
  font-size: medium;
}

.tab-button:hover {
  background-color: transparent;
  border: none;
  color: black;
  background-color: transparent;
  font-weight: 600;
  border: 2px solid #282c34;
}

.remove {
  display: none;
}

.tab-clicked {
  margin: 2rem auto;
  transition: margin 2s ease-in-out; /* Add transition for margin */
}

.move-header {
  margin: 2rem auto 1rem;
  transition: margin 2s ease-in-out; /* Add transition for margin */
}

.active {
  background-color: transparent;
  border: 2px solid black;
  color: black;
  font-weight: 600;
}

@media screen and (max-width: 768px) {
  .Home {
    width: 95%;
  }

  .home-header {
    font-size: larger;
  }

  .tabs {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .tab-button {
    width: 100%;
    border: none;
    font-size: medium;
    margin: 1rem auto;
  }

  .tab-clicked {
    margin: 0 auto;
    transition: margin 2s ease-in-out; /* Add transition for margin */
  }

  .active {
    background-color: transparent;
    border: 2px solid black;
    color: black;
    font-weight: 600;
  }
}
